<section id="footer">
      <footer>
    <!-- Brand + Contact -->
    <div class="footer-col">
      <h3 class="nav-logo">Delish</h3>
      <div class="contact-info">
        <p><i class="fa-solid fa-phone"></i> Tel: +77 9885778643</p>
        <p><i class="fa-solid fa-envelope"></i> delish@support.com</p>
        <p><i class="fa-solid fa-clock"></i> Mon-Sat 8am - 9pm GMT</p>
      </div>
    </div>

    <!-- Navigation -->
    <div class="footer-col">
      <h3>Navigation</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Our Menu</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>

    <!-- Social Media -->
    <div class="footer-col">
      <h3>Social Media</h3>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
       <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>
  </footer>
</section>