    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script src="https://kit.fontawesome.com/7279bfc684.js" crossorigin="anonymous"></script>
    <title>Delish</title>
    <style>
    .cart-link{
      display: none;
    }
        /* general navbar styles here */
        @media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    background-color: #121113;
    z-index: 1000;
  }
  body.light-mode .nav-links{
    background-color: #f0ead6;
  }

  .nav-links.active {
    max-height: 300px;
    opacity: 1;
    padding: 1rem 0;
  }

  .nav-toggle {
    display: flex;
  }

  .nav-button {
    display: none;
  }
  .cart-link{
    display: block;
  }

  /* toggle animation */
  .nav-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  .nav-toggle.active span:nth-child(2) {
    opacity: 0;
  }
  .nav-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
}
    </style>