<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/style.css">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/media query/index-media.css">
</head>
<body>
<%- include('partials/navbar', { showOrderButton: true }) %>

<!---------HERO--------->
    <section id="hero">
        <div class="hero">
            <h1>Savor The Flavor</h1>
            <a href="/menu" class="hero-button">View Menu</a>
        </div>
    </section>
<!---------ABOUT--------->
    <section id="about" class="about">
      <h1>ABOUT US</h1>
      <div class="about-items">
      <div class="about-img">
        <img src="/images/about.png" alt="">
      </div>
      <div class="about-text">
        <p><span class="nav-logo">Delish</span> was born from a desire to bring <strong>Authentic, Satisfying and Complete Meals</strong> directly to your table. <br>
        We believe great food starts with the freshest ingredients, prepared daily with genuine passion and care. <br>
        Every meal, is crafted to deliver the perfect balance of flavor and excellent value</p>
      </div>
      </div>
    </section>
<!---------MENU--------->
<section id="menu" class="menu">
  <h1>VIEW OUR BEST SELLERS</h1>
    <div class="carousel-container">
        <div class="carousel-wrapper">
            <div class="carousel-track" id="carouselTrack">
                <div class="card">
                    <img src="/images/Pasta.png" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Pasta</h2>
                        <div class="card-stats">
                            <div class="stat">
                                <a href="" class="stat-number">Place Order</a>
                                <a href="" class="stat-label" data-image="/images/Pasta.png">Live Preview</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/beef-curry.png" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Beef Curry</h2>
                        <div class="card-stats">
                            <div class="stat">
                                <a href="" class="stat-number">Place Order</a>
                                <a href="" class="stat-label" data-image="/images/beef-curry.png">Live Preview</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/noodles.png" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Stir-fry Noodles</h2>
                        <div class="card-stats">
                            <div class="stat">
                                <a href="" class="stat-number">Place Order</a>
                                <a href="" class="stat-label" data-image="/images/noodles.png">Live Preview</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-controls">
                <button class="control-btn" id="prevBtn">‹</button>
                <button class="control-btn" id="nextBtn">›</button>
            </div>
        </div>

        <div class="carousel-dots" id="carouselDots"></div>
    </div>
    <div id="imgModal" class="modal">
        <a href="javascript:void(0)" class="close">&times;</a>
        <img class="modal-content" id="modalImage">
    </div>
    <div class="menu-btn"><a href="/menu" class="menu-button">View Menu</a></div>
</section>
<!---------WHY--------->
    <section id="why">
    <div class="why">
      <h1>WHY CHOOSE US</h1>
      <div class="why-cards">
      <div class="why-card">
        <i class="fa-solid fa-utensils"></i>
        <p>FRESH</p>
        <p>INGREDIENTS</p>
      </div>
      <div class="divider"></div>
      <div class="why-card">
        <i class="fa-solid fa-clock"></i>
        <p>FAST FOOD</p>
        <p>PRE-ORDER</p>
      </div>
      <div class="divider"></div>
      <div class="why-card">
        <i class="fa-solid fa-bell"></i>
        <p>RELIABLE</p>
        <p>DELIVERY</p>
      </div>
      </div>
    </div>
    </section>
    <%- include('partials/footer') %>
    <button id="theme-toogle" class="theme-toogle">
      <i class="fas fa-moon"></i>
    </button>
    <script src="/JS/script.js"></script>
</body>
</html>